.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: var(--azul);
    align-items: center;
    height: 57px;
}

.cabecalho__nome{
    font: normal 3rem var(--pacifico);
    color: var(--marrom);
    margin-left: 2rem;
    margin-top: 1rem;
}

.cabecalho__navegacao{
    display: flex;
}

.cabecalho__navegacao--itens{
    margin-right: 1rem;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
}
.cabecalho__navegacao--link{
    text-decoration: none;
    color: var(--marrom);
}

@media screen and (max-width: 1114px ) {
    .cabecalho{
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }
    .cabecalho__nome{
        margin: 0 0 1rem 0;
        font-size: 4rem;
    }
    .cabecalho__navegacao{
        flex-direction: column;
        align-items: center;
    }
    .cabecalho__navegacao--itens{
        margin-bottom: 1rem;
    }
    
}
@media screen and (max-width: 320px) {
    .cabecalho__nome{
        font-size: 3em ;
    }
    
}