#formacao {
    margin-top: 1rem;
}

.formacao__titulo {
    text-align: center;
}

.formacao__lista {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
}

.formacao__item {
    text-align: center;
    padding: 10px;
    box-shadow: 1px 1px 10px lightgray;
    transition: all 400ms;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.formacao__item--imagem {
    height: 50px;
    margin: 10px;

    background-repeat: no-repeat;
    background-position: center;
}

.formacao__item--nome {
    font: bold 0.8rem var(--montserrat);
    padding: 5px 0;
}

.formacao__item--texto {
    font: lighter 1rem var(--montserrat);
    margin-bottom: 20px;
}

.formacao__item--visitar{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--azul-escuro);
    color: #FDFDFD;
    cursor: pointer;
    text-decoration: none;
}


@media screen and (max-width: 677px) {

    .formacao__item {
        width: 90%;
        height: 17rem;
    }

    .formacao__lista {
        height: auto;
    }
}

@media screen and (min-width: 678px) {
    .formacao__item {

        width: 27%;
        height: 17rem;
    }

    .formacao__lista {
        height: auto;
    }
}

@media screen and (min-width: 1114px) {
    .formacao__item {

        width: 190px;
        height: 175px;
    }

    .formacao__item:hover {
        width: 200px;
        height: 185px;
        box-shadow: 1px 1px 15px gray;
    }

}






/*imagens*/

.acessibilidade {
    background-image: url(https://www.alura.com.br/assets/api/cursos/acessibilidade-web-front-end.svg);
}

.arquitetura__css {
    background-image: url(https://www.alura.com.br/assets/api/cursos/arquitetura-css.svg);
}

.arquitetura__computadores {
    background-image: url(https://www.alura.com.br/assets/api/cursos/arquitetura-computadores-funcionamento-programa.svg);
}

.flexbox {
    background-image: url(https://www.alura.com.br/assets/api/cursos/posicione-elementos-com-flexbox.svg);
}

.git {
    background-image: url(https://www.alura.com.br/assets/api/cursos/git-github-repositorio-commit-versoes.svg);
}

.html__1 {
    background-image: url(https://www.alura.com.br/assets/api/cursos/html5-css3-primeiros-passos.svg);
}

.html__2 {
    background-image: url(https://www.alura.com.br/assets/api/cursos/html5-css3-posicionamento-listas-navegacao.svg);
}

.javascript {
    background-image: url(https://www.alura.com.br/assets/api/cursos/javascript-web-paginas-dinamicas.svg);
}

.responsivo {
    background-image: url(https://www.alura.com.br/assets/api/cursos/mobile-first-layouts-responsivos.svg);
}

.linux {
    background-image: url(https://www.alura.com.br/assets/api/cursos/linux-ubuntu.svg);
}

.logica-1 {
    background-image: url(https://www.alura.com.br/assets/api/cursos/pong-javascript.svg);
}

.logica-2 {
    background-image: url(https://www.alura.com.br/assets/api/cursos/javascript-listas-lacos.svg);
}

.seo {
    background-image: url(https://www.alura.com.br/assets/api/cursos/seo-otimizacao-sites.svg);
}
.grid {
    background-image: url(https://www.alura.com.br/assets/api/cursos/css-grid-layout.svg);
}

.flex-grid {
    background-image: url(https://www.alura.com.br/assets/api/cursos/css-dispondo-elementos-flexbox-grid.svg);
}
.regex {
    background-image: url(https://www.alura.com.br/assets/api/cursos/expressoes-regulares.svg);
}
.praticando {
    background-image: url(https://www.alura.com.br/assets/api/cursos/html-css-praticando-html-css.svg);
}
.dom {
    background-image: url(https://www.alura.com.br/assets/api/cursos/javascript-manipulando-dom.svg);
}
.javaweb {
    background-image: url(https://www.alura.com.br/assets/api/cursos/javascript-programando-na-linguagem-web.svg);
}



.formulario {
    display: grid;
    grid-template-areas:
        ". erro ."
        "nome texto link"
        ". botao .";
    align-items: center;
    gap: 2em;
    font-weight: 500;
    font-size: 1.2em;
    padding: 2em 1em;
}

.formulario__titulo {
    color: var(--marrom);
    font-weight: bold;
    font-size: 2em;
    text-decoration: underline;
}

.formulario__mensagem {
    grid-area: erro;
    animation: animaColor 100ms infinite linear;
}

.formulario__grupo {
    display: flex;
    flex-direction: column;
}

.nome {
    grid-area: nome;
}

.texto {
    grid-area: texto;
}

.link {
    grid-area: link;
}

.formulario__resposta {
    margin-top: 5px;
    height: 40px;
    text-align: left;
    border: solid gray 1px;
    font-size: 0.7em;
}

.formulario__botao {
    grid-area: botao;
}




@keyframes animaColor {

    0% {
        color: tomato;
    }

    100% {
        color: red;
    }

}

#label-filtro {
    font-weight: 600;
    margin-left: 25px;
}

#filtro {
    border-radius: 20px;
    border: var(--marrom) solid 1px;
    padding: 10px;
    margin-bottom: 20px;
}

.esconde {
    display: none;
}