@import url(cabecalho.css);
@import url(apresentacao.css);
@import url(formacao.css);
@import url(projetos.css);
@import url(rodape.css);


:root{
    --azul: #88C1F2;
    --azul-claro: #A2D4F2;
    --azul-escuro: #4E9FBF;
    --marrom: #2F4033;
    --pele: #A67468;
    --cinza-claro: #f7f7f7;

    --bkg-escuro: #070F21;
    --bkg-claro: #0B1733;
    --bkg-azul:#17316E;

    --montserrat: montserrat, Sans-serif;
    --dancing: Dancing Script, cursive;
    --pacifico: pacifico, cursive;

}

html{
    font-family: var(--montserrat);
}

.container{
    width: 90%;
    margin: 0 auto;
}

.titulo{
    color: var(--pele);

    margin: 2rem 0px;

    text-shadow: 1px 1px 5px black;
    text-align: center;

    font-family: var(--dancing);
    font-size: 8rem;

}


/*-----DARK-----*/
main{
    transition: all 400ms;
}

.fundoBody{
    background-color: var(--bkg-escuro)!important;
}
.fundoClaro{
    background-color: var(--bkg-claro) !important;
}
.fundoFormacao{
    background-color: var(--bkg-azul)!important;
}
.fonteBranco{
    color: var(--azul-claro)!important;
}


#botao-dark{
    background: transparent;
    border: none;
    font-size: 1em;
}
@media screen and (max-width: 600px) {
    .titulo{
        font-size: 5rem;
    }
}


/* Color Theme Swatches in Hex */
.Dark-Blues-1-hex { color: #244EAD; }
.Dark-Blues-2-hex { color: #17316E; }
.Dark-Blues-3-hex { color: #070F21; }
.Dark-Blues-4-hex { color: #0B1733; }
.Dark-Blues-5-hex { color: #0B1733; }
