:root{
    --azul: #88C1F2;
    --azul-claro: #A2D4F2;
    --azul-escuro: #4E9FBF;
    --marrom: #2F4033;
    --pele: #A67468;
    --cinza-claro: #f7f7f7;
    
    --montserrat: montserrat, Sans-serif;
    --dancing: Dancing Script, cursive;
    --pacifico: pacifico, cursive;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.titulo{
    color: var(--pele);

    margin: 2rem 0px;

    text-shadow: 1px 1px 5px black;
    text-align: center;

    font-family: var(--dancing);
    font-size: 8rem;

}

@media screen and (max-width: 600px) {
    .titulo{
        font-size: 5rem;
    
    }
    
}